EWARM/STM32L412k8u/
/EWARM/STM32L412k8u/
EWARM/STM32L412k8u_boot/
/EWARM/STM32L412k8u_boot/
*.o
*.pbi
*.xcl
EWARM/settings/stm32l476.stm32l476.cspy.ps1
EWARM/settings/stm32l476.stm32l476.cspy.bat

EWARM/stm32l476.dep
EWARM/settings/Project.wsdt
EWARM/settings/stm32l476.dnx
EWARM/settings/stm32l476.dbgdt

*.dbgdt
*.dnx
EWARM/settings/stm32l476.stm32l476.general.xcl
.mxproject
.vscode/iar-vsc.json
EWARM/settings/stm32l476.stm32l476.driver.xcl
EWARM/settings/STM32L412k8u.crun
EWARM/settings/STM32L412k8u.STM32L412k8u.cspy.bat
EWARM/settings/STM32L412k8u.STM32L412k8u.cspy.ps1
EWARM/STM32L412k8u.dep
EWARM/settings/STM32L412k8u.STM32L412_boot.cspy.bat
EWARM/settings/STM32L412k8u.STM32L412_boot.cspy.ps1
EWARM/settings/STM32L412k8u_boot.STM32L412_boot.cspy.bat
EWARM/settings/STM32L412k8u_boot.STM32L412_boot.cspy.ps1
EWARM/settings/STM32L412k8u_boot.STM32L412k8u.cspy.bat
EWARM/settings/STM32L412k8u_boot.STM32L412k8u.cspy.ps1
EWARM/settings/STM32L412k8u_boot.crun
EWARM/STM32L412k8u_boot.dep
*.dep
EWARM/STM32L412k8u_boot.ewp
EWARM/.metadata
