sample/Debug/
sample/settings/
settings/
sample/Release/
*.dep
stm32l0x/sample/Debug/Exe/

stm32l0x/sample/Debug/List/

stm32l0x/sample/Debug/Obj/

stm32l0x/sample/Release/Obj/

stm32l0x/ChipTestBoard/Debug/Exe/

stm32l0x/ChipTestBoard/Debug/List/

stm32l0x/ChipTestBoard/Debug/Obj/

*.PcbDocPreview

*.SchDocPreview

stm32l0x/WRM1470DevKit/Debug/Exe/

stm32l0x/WRM1470DevKit/Debug/List/

stm32l0x/WRM1470DevKit/Debug/Obj/

stm32l0x/WRM1470DevKit/Src/debug.log

NBFiLib/nbfi/debug.log

stm32l0x/WA1470RefBoard/Debug/Obj/

*.PrjPcbStructure

stm32l0x/WA1470RefBoard/Debug/List/

stm32l0x/WA1470RefBoard/Debug/Exe/
