[submodule "NBFiLib/gost_crypto"]
	path = NBFiLib/gost_crypto
	url = https://github.com/waviot/gost_crypto.git
[submodule "NBFiLib/preambula"]
	path = NBFiLib/preambula
	url = https://github.com/waviot/preambula.git