[submodule "NBFiLib/gost_crypto"]
	path = NBFiLib/gost_crypto
	url = https://github.com/lema100/gost_crypto.git
[submodule "NBFiLib/preambula"]
	path = NBFiLib/preambula
	url = https://github.com/lema100/preambula.git
[submodule "scheduler"]
	path = scheduler
	url = https://github.com/waviot/scheduler
